extends ../layout

block content
  p.adminMessage you have been logged out of admin
  .container
    div.halfWrap
      .left.homes
        a(href='/authors')
          img(src='/images/blueBook.jpg')
          p Authors
      .right.homes
        a(href='/books')
          img(src='/images/pinkBook.jpg')
          p Books
