extends ../layout
block content
  .sideNav
    a(href='/books')
      .sideNavBooks.active
        img.sidecon(src='/images/icon.png')
        p books
    a(href='/authors')
      .sideNavAuthors
        img.sidecon(src='/images/icon.png')
        p authors
  .pageCont
    h3 Edit Book
    form(action='/books' method='post')
      label(for='title') Title
      br
      input(type="text" name='title' placeholder='The Necronomicon')
      br
      label(for='genre') Genre
      br
      input(type="text" name='genre' placeholder='Horror')
      br
      label(for='img') Cover Image URL
      br
      input(type="text" name='cover' placeholder='www.NotAnImage.com')
      br
      label(for='desc') Description
      br
      textarea(name='description' rows=5 placeholder='Write some stuff...') 
      br
      label Select Authors
      for author in authors
        p.check
          input(type='checkbox' value=author.id name='author' + author.id)
          label #{author.firstName} #{author.lastName}
      br
      input(value=authors.length hidden='true' name='authCount')
      input.sub(type='submit')
        
