extends layout

block content
  .container
    div.halfWrap
      .left.homes
        img(src='/images/blueBook.jpg')
        p Authors
      .right.homes
        img(src='/images/pinkBook.jpg')
        p Books
